body{margin:0;font-family:Arial;background:#ffffff;display:flex;flex-direction:column;min-height:100vh}
footer{margin-top:auto;background:#ff7eb3;color:rgb(8, 8, 8);text-align:center;padding:30px}
.hero{padding:100px;text-align:center;color:white;background:url('https://images.unsplash.com/photo-1519741497674-611481863552') center/cover;flex: 1;}
.btn, button{background:#171616; border:none; padding:10px 20px; border-radius:6px; cursor:pointer; color:white}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:30px;padding:40px}
.card{background:white;padding:20px;border-radius:10px;text-align:center}
.card img{width:100%;height:200px;object-fit:cover;border-radius:8px}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #ff7eb3;
}


.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin: 0 0px;
}

.menu a:hover {
  color: #bf859d;
}


.cart-btn {
  background: black;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.galeri-container {
  max-width: 1100px;
  margin: 40px auto; 
  padding: 0 20px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.btn-back-estetik {
  font-size: 24px;
  text-decoration: none;
  color: #222;
}


.galeri-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}


.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

.galeri-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.galeri-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}

.galeri-grid img:hover {
  transform: scale(1.05);
}

.btn-cta {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 30px;
  background: #ff8fb9;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
}

.btn-cta:hover {
  opacity: 0.85;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff7f9;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff7f9;
}


.team-section {
  padding: 60px 0;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}


.team-card {
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}


.team-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}


.team-card h5 {
  font-weight: 600;
  margin-bottom: 4px;
}

.team-card p {
  font-size: 14px;
  color: #777;
}


.dot-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.dot.teal {
  background: #20c997;
}

.dot.pink {
  background: #ff7eb6;
}


.contact-info p {
  margin: 0;
  font-size: 15px;
}
